<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">
	<!-- This file contains all the beans used in the routes. -->
	<bean class="com.ventia.homework.model.AzureAdJwtToken"
		id="adToken">
		<property name="openidConfigURL"
			value="${ventia.openidConfigURL}" />
		<property name="useStubs"
			value="${ventia.useStubs}" />			
	</bean>
</beans>